.upload-image-inner-container {
    background-color: #fff;
    border: 1px solid #0dcaf0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
  
.upload-image-inner-container:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer !important;
}

.inputfile {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: 1;
      width: 40px;
      height: 40px;
}

.inputfile + label {
      font-size: 1.25rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      width: 38px;
      height: 36px;
      pointer-events: none;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
}

.inputfile + label svg {
      fill: #fff;
}

.inputfile::file-selector-button {
    cursor: pointer !important;
}

.position-fixed {
    position: relative !important;
}

.bg-gradient {
    background: linear-gradient(180deg,
                rgba(0,0,0,0.2805497198879552) 0%, 
                rgba(61,61,61,0.26094187675070024) 31%, 
                rgba(111,111,111,0.2497373949579832) 61%,
                rgba(144,144,144,0.2189250700280112) 100%
            ) !important;
}