/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.internal-pages{
    height: 100vh;
    width: 100vw;
    background-color: #383A59;
}

/*--------------------------------------------------------------
# Avatar Header
--------------------------------------------------------------*/

.avatar-header{
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: #2F3144;
}

.container.avatar{
    height: 100%;
}

.avatar-image-container{
    height: 80%;
    width: 115px;
    background-color: #9580FF;
}

.avatar-image-container .avatar-img{
    max-width: 115px;
    max-height: 80%;
}



