.party-section{
    display: flex;
    flex-direction:column;
}

.party-content{
    display: flex;
    flex-direction:column;
    padding:1rem;
    width: 50%;
}

.party-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.party-nav-item{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-radius: 1.5rem;
    margin: 1rem;
}

.party-nav-item a:hover{
    color: #5FCF80;
}

.party-nav-item a{
    color: whitesmoke;
}

.party-active-nav{
    border-color: #5FCF80;
    border-width: 0.07rem;
}

.form-select{
    margin-left: 1rem;
}

h1{
    color: #95c5ed;
}

.add-new-btn{
    width: 20%;
    color: #95c5ed;
    background-color: #9580FF;
}

.tasks-group{
    width: 90%;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: #d6ddf3;
}

.tasks-group-header{
    background-color: #95c5ed;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tasks-group-title{
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

.task-progress-bar{
    background-color: #d6ddf3;
    width: 40%;
    border-radius: 0.8rem;
}

.task-progress-bar-colored{
    background-color: #9580FF;
    padding: 0.1rem 0.2rem 0.1rem 0.4rem;
    border-radius: 0.8rem;
}

.tasks-group-content{
    background-color: #d6ddf3;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.task-item{
    padding: 0.3rem;
}

.task-item span{
    margin-left: 1rem;
    font-size: 1rem;
}

.task-item-content{
    margin-left: 1rem;
}

.tasks-daily-group{
    padding: 0.5rem;
}

.tasks-header{
    background-color: #95c5ed;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.accordion-icon{
    font-size: 1.7rem;
    margin: 0 1rem 0 auto;
}

.checked-item {
    text-decoration: line-through;
}

.join_battle_modal{
    background-color: rgb(40, 40, 40,.5);

}

.join_battle_modal .modal_body::-webkit-scrollbar {
    display: none;
}

.battle_selection{
    height: 200px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.battle_selection:hover .monster_image{
    width: 45%;
}

.battle_selection:hover .monster_info{
    width: 65%;
    padding: 10px;
}

.battle_selection:hover .monster_info .battle_button{
    display: flex;
}

.battle_selection:hover .monster_info .description{
    height: 40%;
}

.monster_image{
    height: 100%;
    width: 65%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #D6DAFF;
    transition: .3s;
}

.monster_info{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #353535;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: .3s;
}

.monster_info .name{
    width: 100%;
    height: 20%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.monster_info .name p{
    margin: 0;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
}

.monster_info .description{
    width: 100%;
    height: 40%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    transition: .2s;
}

.monster_info .description p{
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(192, 192, 192);
    line-height: normal;
}

.monster_info .battle_button{
    width: 100%;
    height: 30%;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.monster_info .battle_button .battle_btn{
    background-color: #9580FF;
}
