.party-section{
    display: flex;
    flex-direction:column;
}

.party-content{
    display: flex;
    flex-direction:column;
    padding:1rem;
    width: 50%;
}

.party-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.party-nav-item{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-radius: 1.5rem;
    margin: 1rem;
}

.party-nav-item a:hover{
    color: #5FCF80;
}

.party-nav-item a{
    color: whitesmoke;
}

.party-active-nav{
    border-color: #5FCF80;
    border-width: 0.07rem;
}

.form-select{
    margin-left: 1rem;
}

h1{
    color: #95c5ed;
}

.add-new-btn{
    width: 20%;
    color: #95c5ed;
    background-color: #9580FF;
}

.tasks-group{
    width: 90%;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: #d6ddf3;
}

.tasks-group-header{
    background-color: #95c5ed;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tasks-group-title{
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

.task-progress-bar{
    background-color: #d6ddf3;
    width: 40%;
    border-radius: 0.8rem;
}

.task-progress-bar-colored{
    background-color: #9580FF;
    padding: 0.1rem 0.2rem 0.1rem 0.4rem;
    border-radius: 0.8rem;
}

.tasks-group-content{
    background-color: #d6ddf3;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.task-item{
    padding: 0.3rem;
}

.task-item span{
    margin-left: 1rem;
    font-size: 1rem;
}

.task-item-content{
    margin-left: 1rem;
}

.tasks-daily-group{
    padding: 0.5rem;
}

.tasks-header{
    background-color: #95c5ed;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.accordion-icon{
    font-size: 1.7rem;
    margin: 0 1rem 0 auto;
}

.checked-item {
    text-decoration: line-through;
}

.join_battle_modal{
    background-color: rgb(40, 40, 40,.5);

}



.join_battle_modal .modal_body::-webkit-scrollbar {
    display: none;
}

.join_battle_modal .modal-header p{
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.battle_selection{
    height: 200px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.battle_selection:hover .monster_image{
    width: 45%;
}

.battle_selection:hover .monster_info{
    width: 65%;
    padding: 10px;
}

.battle_selection:hover .monster_info .battle_button{
    display: flex;
}

.battle_selection:hover .monster_info .description{
    height: 40%;
}

.monster_image{
    height: 100%;
    width: 65%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #D6DAFF;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.monster_image .image{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monster_image .image img{
    width: 180px;
}

.monster_image .hp{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monster_image .hp span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.monster_image .hp span img{
    width: 25px;
    margin:0 5px;
}

.monster_image .hp span p{

    margin:0 5px;
    color: #353535;
    font-weight: 700;
}


.monster_info{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #353535;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: .3s;
}

.monster_info .name{
    width: 100%;
    height: 20%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.monster_info .name p{
    margin: 0;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
}

.monster_info .description{
    width: 100%;
    height: 40%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    transition: .2s;
}

.monster_info .description p{
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(192, 192, 192);
    line-height: normal;
}

.monster_info .battle_button{
    width: 100%;
    height: 30%;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.monster_info .battle_button form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monster_info .battle_button .battle_btn{
    background-color: #9580FF;
}


/* party tab */

.party-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bg-gradient {
    background: linear-gradient(180deg,
                rgba(0,0,0,0.2805497198879552) 0%,
                rgba(61,61,61,0.26094187675070024) 31%,
                rgba(111,111,111,0.2497373949579832) 61%,
                rgba(144,144,144,0.2189250700280112) 100%
            ) !important;
}

.content-left{
    width: 25%;
    margin-top: 4%;
    background: linear-gradient(180deg,
                rgba(0,0,0,0.2805497198879552) 0%,
                rgba(61,61,61,0.26094187675070024) 31%,
                rgba(111,111,111,0.2497373949579832) 61%,
                rgba(144,144,144,0.2189250700280112) 100%
                );
}

.content-right{
    width: 75%;
}

.monster-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start !important;
    row-gap: 12px;
}

.filling-empty-space-childs {
    width: 490px;
    height:0;
}

.monster-card-6 {
    max-width: 400px;
    background-color: #303444;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    height: 550px;
}

.monster-card-6 img {
    transition: all 0.15s linear;
}

.monster-card-6 .monster-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.monster-card-6 .monster-stats{
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 18px;
    /* font-weight: bold; */
    color: #FFF;
    padding: 15px 20px;
    transition: all 0.15s linear;
}

.monster-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    /* color: #FFF; */
    padding: 30px 20px 15px 0;
    left: 30px;
    top: 0;
    transition: all 0.15s linear;
}

.monster-card-6 .monster-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 70px 0px 20px 0px;
    transition: all 0.15s linear;
}

.monster-card-6 .monster-overview h3 {
    font-weight: bold;
}

.monster-card-6 .monster-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.monster-card-6:hover img {
    filter: brightness(80%);
}

.monster-card-6:hover .monster-name {
    padding-left: 25px;
    padding-top: 20px;
}

.monster-card-6:hover .monster-position {
    left: 40px;
}

.monster-card-6:hover .monster-overview {
    padding-bottom: 25px;
}

.btn-custom-primary.join-battle-btn{
    width: 120px;
    display: inline-block;
    border: none;
    background: #5FCF80;
    color: #fff;
    padding: 10px;
    height: 45px;
    box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
 }

 .btn-custom-primary.join-battle-btn:hover{
    background-color: #3ac162;
 }

 .btn-custom-danger.forfeit-battle-btn{
    width: 120px;
    display: inline-block;
    border: none;
    background: #f55351;
    color: #fff;
    padding: 10px;
    height: 45px;
    box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
 }

 .btn-custom-danger.join-forfeit-btn:hover{
    background-color: #d54542;
 }

 .accept-icon{
     color: #5FCF80;
 }

 .accept-icon:hover{
     color: #3ac162;
 }

 .reject-icon{
     color: #f55351;
 }

 .reject-icon:hover{
    color: #d54542;
 }


 .avatar-circle {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: 4px;
    margin-right: 4px;
}

.party-hp{
    display: flex;
    flex-direction: row;
    gap:1rem
}
